name: Publish Stable Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  build-and-upload:
    name: Build & Deploy for ${{ matrix.rid }}
    runs-on: ${{ matrix.runner_os }}
    strategy:
      matrix:
        include:
          - { runner_os: windows-latest, rid: win-x64, os_name: win }
          # - { runner_os: ubuntu-latest, rid: linux-x64, os_name: linux }
          # - { runner_os: macos-latest, rid: osx-x64, os_name: osx }
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Restore .NET tools
        run: dotnet tool restore

      - name: Run Loom Release Pipeline
        # Targets: Preparation -> Build -> Packaging -> Delivery (GitHub Release)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet loom --target Release
